<%= link_to "New Project", new_project_path %>

<%= form_tag(projects_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Projects" %>
<%= submit_tag "Search" %>
<% end %>

<% if @projects.present? %>
  <%= render 'projects' %>
<% else %>
  <p>There are no projects containing the term(s) <%= params[:search] %>.</p>
<% end %>
