<h1><%= @project.title %></h1>

<% if @project.image.present? %>
  <%= image_tag @project.image %>
<% end %>

<% if @project.user_id.present? %>
<p> Created by <%= link_to(@project.user.full_name, user_path(@project.user.id)) %>
<%end  %>
<p><%= @project.description %></p>

<% @project.categories.each do |category| %>
  <%= link_to(category.name, category_path(category.id)) %>
<%end%>


<p>Goal: <%= number_to_currency(@project.goal) %></p>

<p> Raised so far: $<%=number_with_precision(@project.pledges.sum(:dollar_amount), :precision => 2)  %> </p>


<p>Fundraising starts: <%= @project.start_date.strftime("%A %b %d %Y") %></p>

<p>Deadline: <%= @project.end_date.strftime("%A %b %d %Y") %></p>

<time class="project-days-left">
  <%= icon('clock-o') %>
  <%= "#{time_ago_in_words(@project.end_date)} #{( @project.end_date > Time.now.utc ) ? 'remaining' : 'past deadline'}" %>
</time>

<% if current_user == @project.user  %>
  <h2> Pledges received </h2>
    <%if @project.pledges.count == 0 %>
        <p> No pledges so far. </p>
    <% else %>
      <%@project.pledges.each do |pledge| %>
        <p><%= pledge.user.full_name %> has donated  $<%= pledge.user.projects_supported[@project.id] %></p>
      <%end %>
    <%end  %>
  <h2> Post Updates </h2>
    <%= form_for [@project, Update.new] do |f| %>
      <%= f.text_area :description %>
      <%= f.submit "Update" %>
    <% end %>
<% elsif current_user == nil%>
    <p>You have not yet contributed to this campaign. Please <%= link_to "sign in", :login %> to make a pledge.</p>
<% else %>
    <% if current_user.projects_supported.has_key?(@project.id) %>
      <p>You have donated $<%= current_user.projects_supported[@project.id] %> to this campaign! Thanks for your support.</p>
    <% else %>
      <p>You have not yet contributed to this campaign. Would you like to make a pledge?</p>
    <%end %>
    <%= form_for [@project, Pledge.new] do |f| %>
      <%= f.number_field :dollar_amount, value: @project.rewards.minimum(:dollar_amount), step: 0.01, placeholder: "1.00" %>
      <%= f.submit "Pledge" %>
    <% end %>
  <% end %>

  <h2>Updates</h2>

  <% @project.updates.order(created_at: :desc).each do |update| %>
      <p><%=@project.user.full_name %> posted at <%=update.created_at.strftime("%l:%M %p on %e %B %Y") %>  </p>
    <p><%= update.description %></p>

    <p>
      <small>
        <% if @project.user == current_user %>
        <%= link_to "Remove update", project_update_path(@project, update), method: 'delete' %>
        <% end %>
      </small>
    </p>

  <% end %>

<h2>Rewards</h2>
<% @project.rewards.each do |reward| %>
  <% if reward.limit>0 %>
  <p><%= number_to_currency(reward.dollar_amount) %></p>
  <p><%= reward.description %> x <%= reward.limit %></p>

  <p>
    <small>
      <%= link_to "Remove reward", project_reward_path(@project, reward), method: 'delete' %>
    </small>
  </p>
  <%end %>
<% end %>

<%= link_to "Add new reward", new_project_reward_path(@project) %>

<% if current_user && current_user == @project.user %>
  <h2> Rewards Claimed </h2>
  <% @project.rewards_claimed.each do |reward, frequency| %>
    <%=reward%> x <%= frequency %> </p>
  <%end %>
  <%end %>


<h2>Comments</h2>
  <%if current_user %>
  <% if @project.pledges.pluck(:user_id).include?(current_user.id) || @project.user_id == current_user.id %>
    <%= form_for [@project, Comment.new] do |f| %>
    <%= f.text_area :comment %><br>
    <%= f.submit "Comment" %>
    <% end %>
  <% end %>
  <%end %>


<% @project.comments.order(created_at: :desc) %>
<% @project.comments.order(created_at: :desc).each do |comment| %>
    <p><%= comment.user.full_name %> posted at <%=comment.created_at.strftime("%l:%M %p on %e %B %Y") %>  </p>
  <p><%= comment.comment %></p>

  <p>
    <small>
      <% if comment.user == current_user %>
      <%= link_to "Remove comment", project_update_path(@project, comment), method: 'delete' %>
      <% end %>
    </small>
  </p>

<% end %>
